@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=PT+Sans");
}
body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'PT Sans', sans-serif;
}
.content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1080px;
  padding: 0 40px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.content * {
  box-sizing: border-box;
}
.content__copy {
  position: relative;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 40px;
  clear: both;
}
.card {
  position: relative;
  float: left;
  width: 480px;
  height: 240px;
  margin-bottom: 40px;
  color: #000;
}
.card:nth-child(2n) {
  margin-left: 40px;
}
.card__main {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  padding: 20px;
  background-position: center center;
  background-size: cover;
  border: 1px solid #000;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}
.card:not(.card--empty) .card__main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  background-image: url("../img/dot.png");
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.card:not(.card--empty):hover {
  color: #555;
}
.card:not(.card--empty):hover .card__main {
  border-color: #555;
}
.card:not(.card--empty):hover .card__main:after {
  opacity: 0.7;
}
.card:not(.card--empty):hover .card__desc {
  border-color: #555;
}
.card__desc {
  position: absolute;
  left: 240px;
  height: 100%;
  width: 240px;
  border: 1px solid #000;
  border-left: none;
  -moz-transition: border 0.1s, color 0.1s;
  -o-transition: border 0.1s, color 0.1s;
  -webkit-transition: border 0.1s, color 0.1s;
  transition: border 0.1s, color 0.1s;
  padding: 20px 40px 20px 20px;
}
.card__desc a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.card__desc a:hover {
  border-bottom: 3px double #000;
}
.card__desc__header {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
.card__desc__text {
  font-size: 12px;
  margin: 30px 0 0;
  line-height: 1.5;
}
.card__desc__date {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}
.card__desc__supp {
  display: none;
}
h1 {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
