body {
    margin: 25px 15% 25px 10%;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background: #F0EFED;
    color: #2E353D;
    min-width: 700px
}

h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    color: #1D2733;
    margin-left: 0px;
}

a {
    color: #172F8F;
    padding: 0 2px;
}

a:hover {
    color: #F0EFED;
    background: #1D2733;
    text-decoration: none;
}

.project {
    position: relative;
    height: 100px;
    margin-bottom: 25px;
}

.project div {
    position: absolute;
}


.screenshot {
    width: 100px;
    left: 0px;
    height: 100%;
    background: silver;
}

.title {
    width: 250px;
    left: 120px;
    height: 100%;
}

.description {
    left: 390px;
    right: 0px;
    height: 100%;
    padding-right: 25px;
}

.technologies {
    display: none;
}

#contacts {
    position: relative;
    height: 175px;
    margin-bottom: 25px;
    margin-left: 120px;
}

#copy {
    margin-left: 0px;
    margin-top: 75px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style-type: none;
    margin-bottom: 0.1em;
    margin-right: 30px;
}