transition()
    -moz-transition arguments
    -o-transition arguments
    -webkit-transition arguments
    transition arguments

respond-below($width)
    $width = $width - 1
    media = 'all and (max-width: %s)' % $width
    @media media
        {block}

respond-above($width)
    media = 'all and (min-width: %s)' % $width
    @media media
        {block}

respond-between($min-width, $max-width)
    $max-width = $max-width - 1
    media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width)
    @media media
        {block}

menuWidth = 200px
menuContentGap = 120px
rightMargin = 120px

bgColor = #ffffff
fontColor = #000000

@font-face
    font-family 'PT Sans'
    font-style normal
    src url('http://fonts.googleapis.com/css?family=PT+Sans')



body
    margin 0
    background bgColor
    color fontColor
    font-family 'PT Sans', sans-serif
    font-size 14px
    line-height 1.5
    
a
    color #192034
    text-decoration none
    display inline-block
    position relative
    
    &:before
        content ''
        position absolute
        left -2px
        right -2px
        bottom 1px
        height 10px
        background #4d4d4d
        opacity .1
        
    &:hover
        &:before
            opacity .15
            background #4c72de
    
    
.menu
    position fixed
    width menuWidth
    text-align right
    left 0
    top 0
    bottom 0
    
    &__header
        margin 50px 0
        font-size 26px
        
    &__main
        li
            margin-bottom 6px
                    
            a
                .cross
                    display none
                    position absolute
                    right -20px
                    top 5px
                    width 12px
                    height 12px
                    background url('../img/cross.jpg')
                    background-size cover
                    cursor pointer
                    opacity .8
                    
                    &:hover
                        opacity 1
            
            a.selected
                cursor default
                font-weight bold
                    
                &:before
                    display none
                    
                .cross
                    display block
                    
                    

    &__footer
        width 100%
        right 0
        position absolute
        bottom 25px
        
        &__social
            margin-bottom 50px
            
            p + p
                margin-top 3px
            
.content
    position relative
    margin-top 50px
    margin-bottom 30px
    margin-left menuWidth + menuContentGap
    margin-right rightMargin

.project
    position relative
    padding-right 50px
    max-width 800px
    margin-bottom 75px
    
    &__title
        font-size 20px
        
        a  
            &:before
                bottom 3px
        
    &__desc
        margin-top 10px
        
    &__pics
        margin-top 10px
        position relative
        overflow hidden
        
        a
            color black
            
            &:before
                display none
            
            img
                position relative
                float left
                display block
                height 200px
                
    &__year
        position absolute
        left 100%
        top 0
        color #bebebe
        