@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  src: url("http://fonts.googleapis.com/css?family=PT+Sans");
}
body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
a {
  color: #192034;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
a:before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1px;
  height: 2px;
  background: #4d4d4d;
  opacity: 0.2;
}
a:hover:before {
  opacity: 1;
  background: #0030ff;
}
.menu {
  position: fixed;
  width: 200px;
  text-align: right;
  left: 0;
  top: 0;
  bottom: 0;
}
.menu__header {
  margin: 50px 0;
  font-size: 26px;
}
.menu__header:before {
  display: none;
}
.menu__header--back:after {
  content: "←";
  opacity: 0.2;
  position: absolute;
  left: -37px;
  top: 2px;
  font-weight: normal;
}
.menu__header--back:hover:after {
  opacity: 1;
}
.menu__main li {
  margin-bottom: 6px;
}
.menu__main li a .cross {
  display: none;
  position: absolute;
  right: -20px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: url("../img/cross.jpg");
  background-size: cover;
  cursor: pointer;
  opacity: 0.8;
}
.menu__main li a .cross:hover {
  opacity: 1;
}
.menu__main li a.selected {
  cursor: default;
  font-weight: bold;
}
.menu__main li a.selected:before {
  display: none;
}
.menu__main li a.selected .cross {
  display: block;
}
.menu__footer {
  width: 100%;
  right: 0;
  position: absolute;
  bottom: 25px;
}
.menu__footer__social {
  margin-bottom: 50px;
}
.menu__footer__social p + p {
  margin-top: 3px;
}
.content {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 320px;
  margin-right: 120px;
  z-index: 1;
}
.project {
  position: relative;
  padding-right: 75px;
  max-width: 800px;
  margin-bottom: 75px;
}
.project__title {
  font-size: 20px;
}
.project__title a:before {
  bottom: 3px;
}
.project__subtitle {
  font-size: 18px;
  margin-top: 25px;
}
.project__desc {
  margin-top: 10px;
}
.project__desc img {
  width: 100%;
}
.project__pics {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.project__pics a {
  color: #000;
  display: block;
}
.project__pics a:before {
  display: none;
}
.project__pics a img {
  position: relative;
  float: left;
  display: block;
  height: 200px;
}
.project__meta {
  position: absolute;
  left: 100%;
  width: 120px;
  top: 0;
  color: #bebebe;
}
.project__meta__supp {
  margin-top: 19px;
}
.project__gallerie {
  margin-top: 10px;
  overflow: hidden;
}
.project__gallerie__item {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 25%;
  border-right: 1px solid #fff;
  margin-bottom: 15px;
}
.project__gallerie__item img {
  width: 100%;
  display: block;
}
.project__gallerie__item p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #000;
  color: #fff;
  line-height: 1.2;
  padding: 7px 7px 7px 24px;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.project__gallerie__item p span {
  position: absolute;
  left: 7px;
}
.project__gallerie__item:hover p {
  opacity: 0;
}
.project__screens__menu {
  text-align: center;
  padding: 20px 0;
}
.project__screens__menu--top {
  padding-top: 20px;
}
.project__screens__menu--bottom {
  padding-bottom: 20px;
}
.project__screens__menu__item {
  border: 1px solid #dbdbdb;
  padding: 0 5px;
}
.project__screens__menu__item:before {
  display: none;
}
.project__screens__menu__item + .project__screens__menu__item {
  margin-left: 5px;
}
.project__screens__menu__item:hover {
  border: 1px solid #0030ff;
}
.project__screens__menu__item--active {
  border: 1px solid #000 !important;
  cursor: default;
}
.project__screens__frame {
  position: relative;
  width: 100%;
}
.project__screens__frame__device {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
  display: none;
}
.project__screens__frame__device--mac {
  background-image: url("../img/macbook.png");
}
.project__screens__frame__device--ipad {
  background-image: url("../img/ipad.png");
}
.project__screens__frame__device--iphone {
  background-image: url("../img/iphone.png");
}
.project__screens__frame__content {
  position: absolute;
  left: 50%;
  z-index: 2;
  background-size: cover;
}
.page-expander {
  position: absolute;
  top: 0px;
  width: 1px;
  z-index: 0;
}
