
bgColor = #ffffff
fontColor = #000000
linkColor = #3048c7

a
    color fontColor
    text-decoration none
    border-bottom 1px solid black

    &:hover
        border-bottom 3px double black


.menu
    position fixed
    z-index 10
    left 0
    top 20px
    padding 10px 20px
    border-right 1px solid #000

    &__name
        display block
        border-bottom none
        font-size 18px
        line-height 1

        &:hover
            border-bottom none

    &__back
        font-size 12px
        margin-top -10px



.project-container
    position relative
    width 100%
    max-height 1024px

    &__foreground
        position absolute
        left 0
        width 100%
        z-index 2

    &__content
        position relative
        z-index 1

        &__img
            position relative
            display none
            margin-left auto
            margin-right auto

    &__curtain
        position fixed
        display none
        left 0
        width 100%
        background bgColor
        z-index 2
        bottom 0



.header
    position relative
    background bgColor
    padding-bottom 20px


    &__name
        text-align center
        font-size 30px
        font-weight normal
        margin 30px 0 20px

    &__description
        margin 0 auto
        text-align center
        font-size 14px
        max-width 700px

    &__link
        text-align center

    &__date
        text-align center
        font-size 11px
        color #999


.subheader
    margin 40px 0 30px
    font-size 20px
    font-weight normal
    text-align center

.screens
    position relative
    width 100%

    &__menu
        position relative
        text-align center
        background bgColor
        z-index 11
        padding 25px 0 25px

        &__item
            position relative
            padding 5px 10px 4px
            background rgba(255, 255, 255, .7);
            font-size 12px
            text-decoration none
            color linkColor
            border-radius 5px
            background #f3f3f3
            text-transform uppercase
            border-bottom none

            &--device
                font-size 10px

            &+&
                margin-left 5px

            &:hover
                opacity .8
                border-bottom none

            &--active
                cursor default
                color fontColor
                background #eee
                border-color #e9e9e9

                &:hover
                    opacity 1

                &:after
                    display none

    &__frame
        position relative
        width 100%
        left 0

        &__device
            position relative
            top 0
            left 0
            right 0
            display none
            box-sizing border-box
            background-size contain
            background-position center center
            background-repeat no-repeat
            width 100%
            height 100%

            &--mac
                background-image url('../img/macbook.png')

            &--ipad
                background-image url('../img/ipad.png')

            &--iphone
                background-image url('../img/iphone.png')


    &__bottom
        position relative
        left 0
        width 100%
        padding 15px 0 20px
        background bgColor
        text-align center

        &__item
            position relative
            padding 5px 10px 4px
            background rgba(255, 255, 255, .7);
            font-size 10px
            text-decoration none
            color linkColor
            border-radius 5px
            background #f3f3f3
            text-transform uppercase
            border-bottom none

            &+&
                margin-left 5px

            &:hover
                opacity .8
                border-bottom none

            &--active
                cursor default
                color fontColor
                background #eee
                border-color #e9e9e9

                &:hover
                    opacity 1
                    border-bottom none

                &:after
                    display none


.pictures
    max-width 720px
    margin 0px auto 30px
    overflow hidden

    &__item
        position relative
        float left
        width 200px
        height 192px
        margin 0px 20px 40px

        text-align center
        font-size 12px

        img
            width 100%
            margin-top 10px
            border-radius 10px

.video
    margin-top 0px
    margin-left auto
    margin-right auto
    margin-bottom 100px
    width 680px
    height 382px
    border-radius 10px
    overflow hidden

.gesture
    position absolute
    width 57px
    height 75px
    background-image url('../img/tap.png')
    background-size cover
    z-index 5
    left 90px
    top 140px

    &--flicker
        background-image url('../img/flicker.png')
        left 70px
        top 140px
