body {
    font-family: Arial;
    margin: 0;
    padding: 0 5px;
    overflow-y: scroll;
}

#main-container {
    position: relative;
    width: 100%;
}

#diagram-parties-container {
    position: relative;
    width: 100%;
}

#diagram-parties-container.fixed {
    position: fixed;
}

#diagram-parties-container.top-fixed {
    position: fixed;
    top: 0px;
}

#diagram-parties-container.bottom-fixed {
    bottom: 0px;
}

#space-padding {
    position: relative;
    padding-right: 220px;
    max-width: 990px;
    margin: 0 auto;
}

#diagram-container {
    position: relative;
    width: 100%;
    height: 530px;
    padding-top: 10px;

    margin: 0 auto;
}

#parties-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;

    overflow: auto;
}

.party {
    font-size: 11px;
    position: relative;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.party {
    border: 1px solid #fff;
}

#deputats-wrapper {
    position: absolute;
    top: 0px;
    height: 0px;
    overflow: visible;
    left: 50%;
    width: 50%;
    max-width: 605px;
}

#deputats-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 210px;
    padding-top: 15px;
    padding-bottom: 15px;

    overflow: auto;
}

#deputat-header {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.deputat {
    font-size: 11px;
    position: relative;

    cursor: pointer;
    
    padding: 5px;

    background: #fff url("./person-bg.png") no-repeat 5px 21px;
}

.deputat.hidden {
    display: none;
}

.deputat:hover {
    background: #f2f1f6 url("./person-bg.png") no-repeat 5px 21px;
}

.deputat.selected {
    background: #e3e1e9 url("./person-bg.png") no-repeat 5px 21px !important;
}

.deputat-fraction {
    position: absolute;
    top: 18px;
    opacity: 0.2;
    width: 9px;
    height: 3px;
}

.deputat:hover .deputat-fraction {
    opacity: 1;
}

.deputat-fraction[convocation="0"] {
    left: 5px;
}

.deputat-fraction[convocation="1"] {
    left: 15px;
}

.deputat-fraction[convocation="2"] {
    left: 25px;
}

.deputat-fraction[convocation="3"] {
    left: 35px;
}

.deputat-fraction[convocation="4"] {
    left: 45px;
}

.deputat-fraction[convocation="5"] {
    left: 55px;
}

.letter-group .deputat.first-deputat::first-letter {
    font-weight: bold;
    color: #F50303;
}

.letter-group .deputat.first-deputat {
    clear: left;
}

#copyright {
    width: 264px;
    position: relative;
    left: 50%;
    margin-left: -132px;
    font-size: 10px;
    color: #d3d3d3;
    margin-top: 3px;
}