@import "help"

$headerHeight = 55px
$footerHeight = 85px
$mainMargins = 10px

$photoTitleHeight = 70px


.m-mainview
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    verticalGradient #ffffff, #f6f7fb
    z-index 1

    &__header
        position absolute
        left 0
        top 0
        width 100%
        height $headerHeight
        background-image url('../img/logo.png')
        background-repeat no-repeat
        background-position center center
        background-size 90px

    &__card
        position absolute
        left $mainMargins
        top $headerHeight
        right $mainMargins
        bottom $footerHeight

    &__footer
        position absolute
        left 0
        bottom 0
        width 100%
        height $footerHeight
        text-align center

        &__inner
            position absolute
            margin 0 auto
            top 50%
            left 50%
            transform translateX(-50%)
            width 205px

            > *
                display inline-block
                float left
                transform translateY(-50%)

            .m-button + .m-button
                margin-left 25px


.m-card
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    border 1px solid #e5e5e5
    border-radius 7px
    overflow hidden
    z-index 5

    &--empty
        display: none;

    &.released
        transition left .1s, top .1s, transform .1s

    &__status
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background-repeat no-repeat
        background-size 200px
        opacity 0
        z-index 10
        transition opacity .2s

        &--liked
            background-image url('../img/like.png')
            background-position left top

        &--disliked
            background-image url('../img/nope.png')
            background-position right top

        &--superliked
            background-image url('../img/superlike.png')
            background-position center 80%

    &.liked
        .m-card__status--liked
            opacity 1

    &.disliked
        .m-card__status--disliked
            opacity 1

    &.superliked
        .m-card__status--superliked
            opacity 1


    &__photo
        position absolute
        left 0
        top 0
        width 100%
        bottom $photoTitleHeight
        background-position center center
        background-size cover

    &__title
        position absolute
        left 0
        width 100%
        bottom 0
        height $photoTitleHeight
        background #fff

        &__inner
            position absolute
            left 0
            top 50%
            width 100%
            transform translateY(-50%)
            padding 0 2 * $mainMargins
            font-size 28px

            &__name
                font-weight bold

            &__desc
                margin-top 0px
                font-size 18px
                color $greyColor

            &__friends
                position absolute
                right 1.5 * $mainMargins
                top 50%
                transform translateY(-50%)
                font-size 30px
                color $pinkColor
                padding-left 28px
                background-image url('../img/icon_friends.jpg')
                background-size 26px
                background-position left 3px
                background-repeat no-repeat

            &__interests
                position absolute
                right 1.5 * $mainMargins
                top 50%
                transform translateY(-50%)
                font-size 30px
                color $lightGreyColor
                padding-left 28px
                background-image url('../img/icon_interests.jpg')
                background-size 26px
                background-position left 3px
                background-repeat no-repeat

                & + .m-card__title__inner__friends
                    right 85px

