@font-face {
    font-family: Otto;
    src: url('OTTOSans-Regular.ttf');
}

body {
    font-family: Otto, Arial;
    background-image: url('../img/clouds.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    margin: 0;
    padding: 100px 50px;

    font-size: 14px;
}

body.map {
    background-image: url('../img/map.jpg');
}

body:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 50px;
    width: 100px;
    height: 35px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 100px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

#hi {
    position: absolute;
    right: 50px;
    top: 35px;
    width: 50%;
    text-align: right;
    font-size: 18px;
}

#hi a {
    margin-left: 20px;
}

#friendsToInvite, #friends {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 0 0;
    margin-bottom: 50px;
}

.person {
    display: inline-block;
    width: 100px;
    height: 70px;
    margin: 0 0 30px 0;

    text-decoration: none;
    color: #555;
    text-align: center;

    vertical-align: top;

    font-size: 12px;
}

.person img {
    display: block;
    margin-left: 25px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button {
    display: inline-block;
    background: #fd5c61;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

#menu {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a+a {
    margin-left: 10px;
}

#menu a+span, #menu span+a {
    margin-left: 10px;
}

.event {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    padding: 15px 15px 15px;
    margin: 0 20px 20px 0;
    color: #fd5c61;
    font-weight: bold;
}

.eventDate {
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
}

.eventPlace {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.shareButton {
    position: relative;
    left: 50%;
    margin-left: -104px;
    margin-bottom: 30px;
}
