.subunit.SCT { fill: #eee; }
.subunit.WLS { fill: #ccc; }
.subunit.NIR { fill: #eee; }
.subunit.ENG { fill: #eee; }
.subunit.IRL { fill: #eee; }

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.district-boundary {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.blured {
	opacity: .1;
}