.cluster {
	font-size: 10px;
}

.cluster rect {
	fill: none;
	stroke: #000;
	stroke-width: 1;
}

.m-filters {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background: rgba(200, 200, 200, .8);
	width: 220px;
	z-index: 100;
}

.m-filters label {
	display: block;
}
