.m-canvas {
	width: 1000px;
	height: 500px;
}

svg .line polyline {
	fill: none;
}

.m-filters {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background: rgba(200, 200, 200, .8);
	width: 220px;
	z-index: 100;
}

.m-filters label {
	display: block;
}

.m-key {
	margin-top: 20px;
}

.m-key > div {
	position: relative;
	float: left;
	width: 400px;
	height: 50px;
	margin-right: 10px;
}

.col-tip {
	position: relative;
	float: left;
	width: 1px;
	height: 10px;
}

.thick-tip {
	position: relative;
	float: left;
	width: 10px;
	height: 20px;
	margin-right: 1px;
	border-width: 0;
	border-color: silver;
	border-style: solid;
	box-sizing: border-box;
}