@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #000;
    color: #ccc;
    font-size: 14px;
    font-weight: 300;
}

h1, h2, h3, h4 {
    margin: 0 0 1em;
    font-weight: 300;
}

h1 {
    font-size: 52px
}

@media only screen and (max-device-width: 450px) {
    h1 {
        font-size: 42px
    }
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

a, a:visited, a:focus {
    color: #658DB1;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0 0 10px 0;
}

.background {
    position: fixed;
    z-index: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
    opacity: 0;

    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.page {
    position: relative;
    z-index: 1;
}

.page__inner {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 10px;
}

ul {
    position: relative;
    padding: 0;
    margin: 0 0 1em;
    overflow: hidden;
}

li {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5em;
}

#page_1 .page__inner {
    transform: translate(0, -100%);
    margin-left: 50%;
}

@media only screen and (max-device-width: 450px) {
    #page_1 .page__inner {
        transform: translate(-50%, -50%);
        left: 50%;
        margin-left: 0;
        display: inline-block;
    }
}

#page_1 h1 {
    margin-bottom: 0;
}

#page_1 ul {
    opacity: .7;
    font-size: 14px;
}

#page_1 li {
    display: inline;
}

#page_1 li:after {
    content: ', ';
}

#page_1 li:last-child:after {
    content: '';
}

#page_3 .page__inner {
    max-width: 700px;
}

#page_3 li {
    float: left;
    width: 33%;
    padding: 0 5px;
}

@media only screen and (max-device-width: 450px) {
    #page_3 li {
        float: none;
        width: 100%;
        margin-top: 30px;
        padding: 0 !important;
    }

    #page_3 li:first-child {
        margin-top: 10px;
    }
}

#page_3 li h3 {
    color: #FF76A0;
}

#page_3 li p {
    opacity: .85;
}

#page_3 li:first-child {
    padding: 0 10px 0 0;
}

#page_3 li:first-child h3 {
    color: #95C9CC;
}

#page_3 li:last-child {
    padding: 0 0 0 10px;
}

#page_3 li:last-child h3 {
    color: #FBC789;
}

#page_4 {
    background: rgba(15, 15, 15, .7);
}

#page_4 #video {
    background: #000;
    margin-left: auto;
    margin-right: auto;
}


#page_4 .page__inner {
    margin: 50px 0 0;
    max-width: none;
    text-align: center;
    padding: 0;
}

#page_5 {
    background-size: cover;
    background-image: url('img/ex1.jpg');
    background-position: center 0;
}

#page_5 .page__inner {
    height: 100%;
    max-width: 450px;
}

#page_5 h2 {
    position: absolute;
    bottom: 45px;
    margin-bottom: 0;
    padding-top: 20px;
}

#page_5 h3 {
    position: absolute;
    bottom: 0px;
    opacity: .7;
}

#page_5 .images img {
    width: 100%;
}

#page_6 .page__inner {
    max-width: 455px;
    padding-bottom: 10px;
    overflow: hidden;
}

#page_6 .page__inner div {
    position: relative;
    width: 150px;
    float: left;
}

#page_6 .page__inner div:first-child {
    width: 285px;
    padding-left: 35px;
}

#page_6 .page__inner span {
    display: block;
    clear: both;
    padding-top: 20px;
    text-align: center;
    opacity: .5;
}


@media only screen and (max-device-width: 450px) {
    #page_6 .page__inner {
        max-width: none;
        width: 220px;
    }

    #page_6 .page__inner div {
        position: relative;
        float: none;
        width: auto;
    }

    #page_6 .page__inner div:first-child {
        float: none;
        width: auto;
        padding-left: 0;
        margin-bottom: 30px;
    }

    #page_6 .page__inner span {
        display: block;
        clear: both;
        padding-top: 20px;
        text-align: center;
        opacity: .5;
    }
}
