.vis--arc
	.vis__graph
		&__items
			&__item
				cursor pointer
				
				&__name
					font-size 12px
					opacity .8
					text-anchor middle
					alignment-baseline central
				
				&__desc
					font-size 10px
					fill #bbb
					text-anchor middle
					alignment-baseline central
					
				&.blured
					opacity .3
				
				&.hovered
					opacity 1
					
					.vis__graph__items__item__name
						opacity 1
						
					.vis__graph__items__item__desc
						fill #888
			
		&__values
			&__label
				fill #000
				font-size 14px

			&__points
				&__point
					cursor pointer
					circle
						stroke none
						opacity .6
					text
						font-size 12px
						fill #000
						alignment-baseline central
						visibility hidden
							
					&.blured
						circle
							opacity .1
					
					&.hovered
						circle
							opacity .8
							stroke rgba(150, 150, 150, .2)
							stroke-width 10
						text
							visibility visible
							
						
			&--left
				.vis__graph__values__points__point
					text
						text-anchor start
						
				.vis__graph__values__arcs__arc
					text
						text-anchor end
						
				.vis__graph__values__label
					text-anchor middle
						
			&--right
				.vis__graph__values__points__point
					text
						text-anchor end
						
				.vis__graph__values__arcs__arc
					text
						text-anchor start
						
				.vis__graph__values__label
					text-anchor middle
					
			&__arcs
				&__arc
					&__bg
						fill none
						stroke rgba(255, 255, 255, 0);
						
					&__line
						fill none
						stroke #888
						opacity .5
						
					text
						font-size 12px
						fill #000
						alignment-baseline central
						visibility hidden
					
					&.blured
						pointer-events none
						
						.vis__graph__values__arcs__arc__line
							opacity .03
						
					&.hovered
						.vis__graph__values__arcs__arc__line
							opacity .6
							stroke red
							
						text
							visibility visible
						