.vis--bubblechart
	.vis__graph
		&__item
			stroke none
			opacity .5

	.axis-label
		fill #000
		font-size 14px

	.vis__hints
		&__hint
			pointer-events none

			text
				text-anchor middle
				alignment-baseline after-edge
				font-size 12px
				fill #000


.m-legend
	position fixed
	right 5px
	top 5px
	width 200px
	border 1px solid silver
	padding 10px
	font-size 12px

	h1
		margin 10px 0
		font-size 14px
		text-transform uppercase

	&__category
		display block
		border-left 15px solid silver
		padding-left 10px
		margin 0 0 5px

		input
			position relative
			float left
			top -2px

	&__size
		position relative
		float left
		margin-right 6px
		border-radius 50%
		background silver