.vis--bubblechart
	.vis__graph
		&__bg
			.vis__graph__item
				stroke none
				fill rgb(220, 220, 220)
				opacity .3
				
				&.selected
					visibility hidden
					
				&.highlighted
					visibility hidden
					
				&.blured
					visibility visible
				
		&__active
			.vis__graph__item
				stroke none
				fill rgb(31, 119, 180)
				opacity .9
				visibility hidden
				
				&.selected
					visibility visible
					
				&.highlighted
					visibility visible
					opacity .5
					
					&.selected
						opacity .9
					
				&.blured
					visibility hidden
					
		.vis__graph__item
			&.hovered
				fill red

	.axis-label
		fill #000
		font-size 14px

	.vis__hints
		&__hint
			&__bg
				stroke #999
				fill #fff
				opacity .8

			pointer-events none

			text
				text-anchor left
				alignment-baseline before-edge
				font-size 12px
				fill #000


.m-legend
	position fixed
	right 5px
	top 5px
	width 270px
	border 1px solid silver
	padding 10px
	font-size 12px

	h1
		margin 10px 0
		font-size 14px
		text-transform uppercase

	&__category
		display block
		padding 0 0 5px
		cursor pointer

		input
			position relative
			float left
			top -2px

	&__size
		position relative
		float left
		margin-right 6px
		width 30px
		text-align center
		
		&__sample
			position relative
			border-radius 50%
			background rgb(31, 119, 180)
			opacity .9