.vis--bumpchart
	.vis__axis
		font-size 10px

		.tick
			&.blured
				text
					opacity .2

	.vis__graph
		&__line
			fill none
			stroke-width 2

			&.blured
				opacity .2

	.vis__hints
		&__hint
			pointer-events none

			path
				stroke #000
				stroke-width 1
				fill #fff

			text
				font-size 10px


	.vis__legend
		&__bg
			stroke #444
			stroke-width 1
			fill #fff

		text
			font-size 10px