.vis--bumpchart
	.vis__axis
		font-size 10px

		.tick
			&.selected
				font-weight bold

	.vis__graph
		&__line
			fill none
			stroke-width 3

		&__hint
			pointer-events none


	.vis__legend
		&__bg
			stroke #444
			stroke-width 1
			fill #fff

		text
			font-size 10px