h1
	margin 0
	font-size 16px
	position absolute
	left 10px
	top 10px
	z-index 100

.vis--chord
	margin-top 50px
	
	.vis__chord
		&__labels
			&__label
				font-size 8px
				text-anchor start
				alignment-baseline middle
				fill #000
				cursor default
				
				&--left
					text-anchor end
					
				&.selected
					fill #1f77b4
					font-weight bold
					
				&.highlighted
					fill #1f77b4
					
				&.blured
					fill #ccc
					
		&__ribbons
			&__line
				fill none
				stroke #999
				stroke-width 1
				opacity 0.05
				
				&.selected
					stroke #1f77b4
					opacity 1
					
				&.old
					stroke #ff0000
					opacity 1
					
				&.new
					stroke #00ff00
					opacity 1