h1
	margin 0
	font-size 16px
	position absolute
	left 10px
	top 10px
	z-index 100

.vis--chord
	margin-top 50px
	
	.vis__chord
		&__title
			font-size 14px
			text-anchor middle
			
		&__labels
			&__label
				font-size 8px
				text-anchor start
				alignment-baseline middle
				fill #000
				cursor default
				
				&--left
					text-anchor end
					
				&.selected
					fill #000
					font-weight bold
					
				&.highlighted
					fill #1f77b4
					
				&.old
					fill #d62728
						
				&.new
					fill #2ca02c
					
				&.blured
					fill #ccc
					
		&__ribbons
			&__line
				fill none
				stroke #999
				stroke-width 1
				opacity 0.05
				
				&.selected
					stroke #1f77b4
					opacity 1
					
					&.old
						stroke #d62728
						
					&.new
						stroke #2ca02c
						
	.vis__legend
		font-size 12px