.filter
	position fixed
	right 5px
	top 5px
	width 200px
	padding 10px
	background #fff
	border 1px solid #eee
	
	&__group
		font-size 12px
		margin-bottom 20px
		overflow hidden
		
		h1
			margin 0 0 5px
			font-size 14px
			text-transform uppercase
			
		&__option
			display block
			padding 0
			
		&__bubble-sample
			position relative
			float left
			text-align center
			
			span
				display block
			
			&__bubble
				display inline-block
				border-radius 50%
				background #1f77b4
				opacity .9