.vis--forcegraph
	position absolute
	left 0
	top 0
	
	.vis__graph
		&__links
			line
				stroke rgba(50, 50, 50, .05)
			
				&.blured
					opacity .5
					
				&.selected
					stroke red
		
		&__nodes
			&__node
				cursor pointer
				
				circle
					fill #fff
					stroke-width 1
					stroke #bbb
				
				&.blured
					opacity .5
				
				&.selected
					opacity 1
					circle
						stroke red
					
	.vis__titles
		&__label
			pointer-events none
			visibility hidden
			
			rect
				stroke none
				fill rgba(255, 255, 255, .8)
			
			text
				text-anchor middle
				alignment-baseline middle
				font-size 12px

	.vis__loader
		font-size 18px
		text-anchor middle
		alignment-baseline middle
		fill #000