.vis--forcegraph
	position absolute
	left 0
	top 0
	
	.vis__graph
		&__links
			&__link
				stroke rgba(150, 150, 150, .6)
				//stroke-width .02
			
				&.blured
					stroke rgba(200, 200, 200, .2)
					
				&.selected
					//stroke-width .1
					
				&.muted
					stroke rgba(200, 200, 200, .2)
					//stroke-width .01
		
		&__nodes
			&__node
				cursor pointer
				
				&__bg
					fill rgba(255, 255, 255, 0)
					stroke none
				
				&__circle
					stroke-width .5
				
				&.blured
					.vis__graph__nodes__node__circle
						fill rgba(200, 200, 200, .5)
						opacity .6
						
				&.selected
					.vis__graph__nodes__node__circle
						stroke-width 1
						stroke #000
					
				&.muted
					cursor default
					.vis__graph__nodes__node__circle
						stroke none
						fill rgba(200, 200, 200, .2)
						
		&__labels
			&__label
				pointer-events none
				
				&.overlapped
					visibility hidden
					
				&.blured
					visibility hidden
					
				&.muted
					visibility hidden
					
				&__bg
					stroke #999
					fill #fff
					opacity .8
					
				&__text
					text-anchor middle
					font-size 10px
					fill #000
					
						
	.vis__hint
		pointer-events none
		
		rect
			stroke #aaa
			fill rgba(255, 255, 255, .8)
		
		text
			text-anchor start
			font-size 12px
			
	.vis__controls
		&__button
			cursor pointer
			&__bg
				stroke #ddd
				fill #eee
				
			text
				text-anchor middle
				alignment-baseline central
				font-size 12px
				fill #000
				

	.vis__loader
		font-size 18px
		text-anchor middle
		alignment-baseline middle
		fill #000