.vis--forcegraph
	position absolute
	left 0
	top 0
	
	.vis__graph
		&__links
			line
				stroke rgba(50, 50, 50, .03)
			
				&.blured
					opacity .5
					
				&.selected
					stroke red
		
		&__nodes
			&__node
				cursor pointer
				
				circle
					stroke none
				
				&.blured
					opacity .3
				
				&.selected
					opacity 1
					circle
						stroke red
						
	.vis__hint
		pointer-events none
		
		rect
			stroke none
			fill rgba(255, 255, 255, .8)
		
		text
			text-anchor start
			font-size 12px
				

	.vis__loader
		font-size 18px
		text-anchor middle
		alignment-baseline middle
		fill #000