.vis--geovis
	position absolute
	left 0
	top 0
	
	.vis__map
		&__bg
			stroke none
			fill #fff
			
		&__title
			pointer-events none
			text-anchor middle
			font-size 14px
			font-weight bold
			fill #000

		&__lands
			&__land
				fill #fcfcfc
				stroke #eee
				stroke-width 2
				
				&--featured
					stroke #dedede

		&__lads
			&__lad
				cursor pointer
				
				circle
					stroke none
					fill rgba(200, 200, 200, .6)
					
				&:hover
					circle
						stroke-width 2
						stroke rgba(150, 150, 150, .3)
					
				&.selected
					circle
						stroke-width 2
						stroke rgba(100, 100, 100, .5)
					
				&.highlighted
					circle
						stroke-width 1
						stroke rgba(150, 150, 150, .3)
					
				&.blured
					circle
						fill rgba(220, 220, 220, .3)
					
				&.inactive
					visibility hidden
			
		&__border
			stroke #fff
			stroke-width 2
			fill none
			
		&__connections
			&__line
				&__point
					pointer-events none
				
				&__bg
					stroke rgba(255, 255, 255, 0);
					stroke-width 5
					fill none
					
				&__line
					opacity .3
					fill none
					
				&:hover
					.vis__map__connections__line__line
						opacity 1
					
				&.blured
					visibility hidden
					
		&__labels
			&__label
				pointer-events none

				rect
					fill rgba(255, 255, 255, 0.5)

				text
					font-size 10px
					fill #000
					text-anchor middle
					
				&.blured
					visibility hidden
					
				&.inactive
					visibility hidden
					
				&.overlapped
					visibility hidden
						
	.vis__divider
		stroke #999

	.vis__controls
		&__button
			cursor pointer
			&__bg
				stroke #ddd
				fill #eee
				
			text
				text-anchor middle
				alignment-baseline central
				font-size 12px
				fill #000
				
	.vis__hints
		pointer-events none
		
		text
			text-anchor middle
			alignment-baseline central
			font-size 12px
			
		rect
			stroke #999
			fill rgba(255, 255, 255, .7)
			
.title
	position fixed
	left 5px
	top 5px
	margin 0
	font-size 16px
	z-index 10