.vis--geovis
	position absolute
	left 0
	top 0
	
	.vis__map
		&__lad
			stroke-width 1
			stroke #fff
			//fill #eee
			
			&--welsh
				//stroke #000
				//fill red
					
			&.no-data
				fill #eee
			
		&__border
			stroke #999
			stroke-width 2
			fill none
			
	.vis__hint
		pointer-events none
		
		rect
			fill #fff
			stroke #999
			opacity .8
		
		text
			text-anchor start
			alignment-baseline before-edge
			
			&.vis__hint__city
				font-weight bold
				font-size 14px
				
		&__topic
			font-size 12px
			
			&.selected
				font-weight bold
				fill rgb(200, 0, 0)
			
	.vis__legend
		&__bg
			stroke #444
			stroke-width 1
			fill #fff

		text
			font-size 10px
			
.title
	position absolute
	z-index 100
	left 10px
	top 10px
	margin 0
	font-size 18px

.legend
	position fixed
	right 5px
	top 5px
	bottom 5px
	width 200px
	border 1px solid #999
	background rgba(255, 255, 255, .8)
	padding 5px
	
	font-size 12px
	
	overflow auto
	
	h1
		margin 20px 0 10px
		font-size 14px
		text-transform uppercase
		
	label
		display block
		margin 0 0 5px
		overflow hidden
		
		input
			position relative
			float left
			top -2px
			