.vis--geovis
	position absolute
	left 0
	top 0
	
	.vis__map
		&__lad
			stroke-width 1
			stroke #fff
			//fill #eee
			
			&--welsh
				//stroke #000
				//fill red
			
		&__border
			stroke #999
			stroke-width 2
			fill none
			
	.vis__hint
		pointer-events none
		
		text
			text-anchor middle
			font-size 12px
			alignment-baseline after-edge
			

.legend
	position fixed
	right 5px
	top 5px
	bottom 5px
	width 200px
	border 1px solid #999
	background rgba(255, 255, 255, .8)
	padding 5px
	
	font-size 12px
	
	overflow auto
	
	h1
		margin 20px 0 10px
		font-size 14px
		text-transform uppercase
		
	label
		display block
		margin 0 0 5px
		overflow hidden
		
		input
			position relative
			float left
			top -2px
			
		&.topic
			border-left 15px solid #fff