.vis--heatmap
	.vis__axis
		font-size 10px
		fill #999

		&__tip
			&.highlighted
				fill green
			&.selected
				font-weight bold
				fill #000

	.vis__graph
		&__cell
			-webkit-transition transform .5s
			transition transform .5s

			&__bg
				stroke none
				fill #fff
				opacity 0

			&__value
				stroke none


		&__hint
			pointer-events none

			rect
				stroke #999
				fill #fff
				opacity .7
			text
				text-anchor middle
				fill #000
				font-size 10px

		&__high-bg
			stroke none
			fill rgba(200, 200, 200, .1)

		&__highlight
			stroke none
			fill rgba(170, 170, 170, .1)

	.vis__legend
		&__bg
			stroke #444
			stroke-width 1
			fill #fff

		text
			font-size 10px