html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#timelineContainer {
    position: absolute;
    top: 0px;
    height: 60px;
    left: 0px;
    width: 100%;
    background: white;
    box-shadow: 0 0 20px #999;
}

#timelineContainer svg {
    width: 100%;
    height: 60px;
}

#timelineContainer .year {
    position: relative;
    float: left;
    padding: 1px 5px;
    cursor: pointer;
    stroke-width: 1;
}

svg text {
    font-family: Arial;
    font-size: 12px;
}

#timelineContainer .year text {
    fill: #888;
}

#timelineContainer .year:not(.selected) text {
    fill: #ccc;
}

#timelineContainer .year rect {
    fill: white;
}

#timelineContainer .year.selected rect {
    display: none;
}

#timelineContainer .year:not(.selected) path {
    fill: white;
    stroke-dasharray: 2,2;
}

#timelineContainer .year.selected {
    background: silver;
}

#legend {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100px;
    height: 72px;
}

#mapContainer {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#mapContainer svg {
    width: 100%;
    height: 100%;
}

svg .connection {
    stroke: #ddd;
    stroke-width: 1;
}

svg .station circle {
    opacity: 0.1;
}

svg #walkability {
    opacity: 0.8;
}

svg #walk5min {
    opacity: 1;
}

svg #walk10min, svg #walk15min, svg #walk20min {
    opacity: 0.2;
}

svg #roads line {
    stroke: #eee;
    stroke-width: 4;
}

svg #moscow {
    opacity: 0.2;
}