.vis--arc .vis__graph__items__item {
  cursor: pointer;
  font-size: 12px;
  fill: #333;
  opacity: 1;
  text-anchor: middle;
  alignment-baseline: central;
}
.vis--arc .vis__graph__items__item.blured {
  opacity: 0.3;
}
.vis--arc .vis__graph__items__item.hovered {
  opacity: 1;
  fill: #f00;
}
.vis--arc .vis__graph__values__points__point {
  cursor: pointer;
}
.vis--arc .vis__graph__values__points__point circle {
  stroke: none;
  fill: #1f77b4;
  opacity: 0.6;
}
.vis--arc .vis__graph__values__points__point text {
  font-size: 12px;
  fill: #000;
  alignment-baseline: central;
  visibility: hidden;
}
.vis--arc .vis__graph__values__points__point.blured circle {
  opacity: 0.1;
}
.vis--arc .vis__graph__values__points__point.hovered circle {
  opacity: 0.8;
  fill: #f00;
}
.vis--arc .vis__graph__values__points__point.hovered text {
  visibility: visible;
}
.vis--arc .vis__graph__values--left .vis__graph__values__points__point text {
  text-anchor: start;
}
.vis--arc .vis__graph__values--left .vis__graph__values__arcs__arc text {
  text-anchor: end;
}
.vis--arc .vis__graph__values--right .vis__graph__values__points__point text {
  text-anchor: end;
}
.vis--arc .vis__graph__values--right .vis__graph__values__arcs__arc text {
  text-anchor: start;
}
.vis--arc .vis__graph__values__arcs__arc__bg {
  fill: none;
  stroke: rgba(255,255,255,0);
}
.vis--arc .vis__graph__values__arcs__arc__line {
  fill: none;
  stroke: #888;
  opacity: 0.5;
}
.vis--arc .vis__graph__values__arcs__arc text {
  font-size: 12px;
  fill: #000;
  alignment-baseline: central;
  visibility: hidden;
}
.vis--arc .vis__graph__values__arcs__arc.blured {
  pointer-events: none;
}
.vis--arc .vis__graph__values__arcs__arc.blured .vis__graph__values__arcs__arc__line {
  opacity: 0.03;
}
.vis--arc .vis__graph__values__arcs__arc.hovered .vis__graph__values__arcs__arc__line {
  opacity: 0.6;
  stroke: #f00;
}
.vis--arc .vis__graph__values__arcs__arc.hovered text {
  visibility: visible;
}
