.vis--bubblechart .vis__graph__item {
  stroke: none;
  opacity: 0.5;
}
.vis--bubblechart .axis-label {
  fill: #000;
  font-size: 14px;
}
.vis--bubblechart .vis__hints__hint {
  pointer-events: none;
}
.vis--bubblechart .vis__hints__hint text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 12px;
  fill: #000;
}
.m-legend {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 200px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  font-size: 12px;
}
.m-legend h1 {
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.m-legend__category {
  display: block;
  border-left: 15px solid #c0c0c0;
  padding-left: 10px;
  margin: 0 0 5px;
}
.m-legend__category input {
  position: relative;
  float: left;
  top: -2px;
}
.m-legend__size {
  position: relative;
  float: left;
  margin-right: 6px;
  border-radius: 50%;
  background: #c0c0c0;
}
