.vis--bubblechart .vis__graph__bg .vis__graph__item {
  stroke: none;
  fill: #dcdcdc;
  opacity: 0.3;
}
.vis--bubblechart .vis__graph__bg .vis__graph__item.selected {
  visibility: hidden;
}
.vis--bubblechart .vis__graph__bg .vis__graph__item.highlighted {
  visibility: hidden;
}
.vis--bubblechart .vis__graph__bg .vis__graph__item.blured {
  visibility: visible;
}
.vis--bubblechart .vis__graph__active .vis__graph__item {
  stroke: none;
  fill: #1f77b4;
  opacity: 0.9;
  visibility: hidden;
}
.vis--bubblechart .vis__graph__active .vis__graph__item.selected {
  visibility: visible;
}
.vis--bubblechart .vis__graph__active .vis__graph__item.highlighted {
  visibility: visible;
  opacity: 0.5;
}
.vis--bubblechart .vis__graph__active .vis__graph__item.highlighted.selected {
  opacity: 0.9;
}
.vis--bubblechart .vis__graph__active .vis__graph__item.blured {
  visibility: hidden;
}
.vis--bubblechart .vis__graph .vis__graph__item.hovered {
  fill: #f00;
}
.vis--bubblechart .axis-label {
  fill: #000;
  font-size: 14px;
}
.vis--bubblechart .vis__hints__hint {
  pointer-events: none;
}
.vis--bubblechart .vis__hints__hint__bg {
  stroke: #999;
  fill: #fff;
  opacity: 0.8;
}
.vis--bubblechart .vis__hints__hint text {
  text-anchor: left;
  alignment-baseline: before-edge;
  font-size: 12px;
  fill: #000;
}
.m-legend {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 270px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  font-size: 12px;
}
.m-legend h1 {
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.m-legend__category {
  display: block;
  padding: 0 0 5px;
  cursor: pointer;
}
.m-legend__category input {
  position: relative;
  float: left;
  top: -2px;
}
.m-legend__size {
  position: relative;
  float: left;
  margin-right: 6px;
  width: 30px;
  text-align: center;
}
.m-legend__size__sample {
  position: relative;
  border-radius: 50%;
  background: #1f77b4;
  opacity: 0.9;
}
