.vis--bumpchart .vis__axis {
  font-size: 10px;
}
.vis--bumpchart .vis__axis .domain {
  stroke: #ccc;
}
.vis--bumpchart .vis__axis .tick {
  cursor: default;
}
.vis--bumpchart .vis__axis .tick line {
  stroke: #ccc;
}
.vis--bumpchart .vis__axis .tick.blured text {
  opacity: 0.2;
}
.vis--bumpchart .vis__axis .tick.selected text {
  font-weight: bold;
  font-size: 12px;
}
.vis--bumpchart .vis__graph__grid__line {
  stroke: #ccc;
}
.vis--bumpchart .vis__graph__line__line {
  stroke: rgba(255,255,255,0.5);
}
.vis--bumpchart .vis__graph__line__bg {
  fill: none;
  stroke: rgba(255,255,255,0);
  stroke-width: 3;
}
.vis--bumpchart .vis__graph__line.blured {
  opacity: 0.2;
}
.vis--bumpchart .vis__graph__line.selected .vis__graph__line__line {
  stroke-width: 4;
}
.vis--bumpchart .vis__hints__hint {
  pointer-events: none;
}
.vis--bumpchart .vis__hints__hint__bg {
  stroke: #000;
  stroke-width: 1;
  fill: #fff;
}
.vis--bumpchart .vis__hints__hint text {
  font-size: 10px;
}
.vis--bumpchart .vis__overview__bg {
  fill: #fff;
  stroke: #ccc;
}
.vis--bumpchart .vis__overview__line {
  fill: none;
  stroke-width: 1;
}
.vis--bumpchart .vis__overview__line.blured {
  opacity: 0.1;
}
.vis--bumpchart .vis__overview__line.selected {
  stroke-width: 2;
}
.vis--bumpchart .vis__overview__viewport {
  fill: rgba(255,255,255,0);
  stroke: #000;
  stroke-width: 2;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.vis--bumpchart .vis__overview__title {
  font-size: 12px;
  fill: #000;
  text-anchor: middle;
}
