.vis--forcegraph {
  position: absolute;
  left: 0;
  top: 0;
}
.vis--forcegraph .vis__graph__links__link {
  stroke: rgba(150,150,150,0.6);
}
.vis--forcegraph .vis__graph__links__link.blured {
  stroke: rgba(200,200,200,0.2);
}
.vis--forcegraph .vis__graph__links__link.muted {
  stroke: rgba(200,200,200,0.2);
}
.vis--forcegraph .vis__graph__nodes__node {
  cursor: pointer;
}
.vis--forcegraph .vis__graph__nodes__node__bg {
  fill: rgba(255,255,255,0);
  stroke: none;
}
.vis--forcegraph .vis__graph__nodes__node__circle {
  stroke: #777;
  stroke-width: 0.5;
}
.vis--forcegraph .vis__graph__nodes__node.blured .vis__graph__nodes__node__circle {
  stroke: none;
  opacity: 0.2;
  fill: #ccc;
}
.vis--forcegraph .vis__graph__nodes__node.selected .vis__graph__nodes__node__circle {
  stroke-width: 1;
  stroke: #000;
}
.vis--forcegraph .vis__graph__nodes__node.muted {
  pointer-events: none;
}
.vis--forcegraph .vis__graph__nodes__node.muted .vis__graph__nodes__node__circle {
  stroke: none;
  fill: #ccc;
  opacity: 0.2;
}
.vis--forcegraph .vis__hint {
  pointer-events: none;
}
.vis--forcegraph .vis__hint rect {
  stroke: #aaa;
  fill: rgba(255,255,255,0.8);
}
.vis--forcegraph .vis__hint text {
  text-anchor: start;
  font-size: 12px;
}
.vis--forcegraph .vis__controls__button {
  cursor: pointer;
}
.vis--forcegraph .vis__controls__button__bg {
  stroke: #ddd;
  fill: #eee;
}
.vis--forcegraph .vis__controls__button text {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 12px;
  fill: #000;
}
.vis--forcegraph .vis__loader {
  font-size: 18px;
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #000;
}
