.vis--geovis {
  position: absolute;
  left: 0;
  top: 0;
}
.vis--geovis .vis__map__bg {
  stroke: none;
  fill: #fff;
}
.vis--geovis .vis__map__lads__lad {
  stroke-width: 1;
  stroke: #fff;
}
.vis--geovis .vis__map__lads__lad.no-data {
  fill: #eee;
}
.vis--geovis .vis__map__lads__lad.hovered {
  fill: #fecc5c;
}
.vis--geovis .vis__map__lads__lad.selected {
  fill: #fd8d3c;
}
.vis--geovis .vis__map__border {
  stroke: #000;
  stroke-width: 2;
  fill: none;
}
.vis--geovis .vis__map__connections__line__bg {
  stroke: rgba(255,255,255,0);
  stroke-width: 5;
  fill: none;
}
.vis--geovis .vis__map__connections__line__line {
  stroke-width: 1;
  fill: none;
}
.vis--geovis .vis__map__connections__line.highlighted .vis__map__connections__line__line {
  stroke: #f00;
  opacity: 1;
}
.vis--geovis .vis__map__connections__line.blured {
  visibility: hidden;
}
.vis--geovis .vis__map__connections__line.blured .vis__map__connections__line__line {
  stroke: #444;
}
.vis--geovis .vis__map--left .vis__map__lads__lad.highlighted {
  fill: #a5a8ff;
}
.vis--geovis .vis__map--right .vis__map__lads__lad.highlighted {
  fill: #7fc97e;
}
.vis--geovis .vis__divider {
  stroke: #eee;
}
.vis--geovis .vis__hint {
  pointer-events: none;
}
.vis--geovis .vis__hint rect {
  fill: #fff;
  stroke: #999;
  opacity: 0.8;
}
.vis--geovis .vis__hint text {
  text-anchor: start;
  alignment-baseline: before-edge;
}
.vis--geovis .vis__hint__city {
  font-weight: bold;
  font-size: 14px;
}
.vis--geovis .vis__hint__employment,
.vis--geovis .vis__hint__business {
  font-size: 12px;
}
.vis--geovis .vis__hint__topic {
  font-size: 12px;
}
.vis--geovis .vis__hint__topic.selected {
  font-weight: bold;
  fill: #c80000;
}
.vis--geovis .vis__map__hints {
  pointer-events: none;
}
.vis--geovis .vis__map__hints text {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 12px;
}
.vis--geovis .vis__map__hints rect {
  stroke: #999;
  fill: rgba(255,255,255,0.7);
}
.vis--geovis .vis__legend__bg {
  stroke: #444;
  stroke-width: 1;
  fill: #fff;
}
.vis--geovis .vis__legend text {
  font-size: 10px;
}
.title {
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 10px;
  margin: 0;
  font-size: 18px;
}
.legend {
  position: fixed;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 200px;
  border: 1px solid #999;
  background: rgba(255,255,255,0.8);
  padding: 5px;
  font-size: 12px;
  overflow: auto;
}
.legend h1 {
  margin: 20px 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.legend label {
  display: block;
  margin: 0 0 5px;
  overflow: hidden;
}
.legend label input {
  position: relative;
  float: left;
  top: -2px;
}
