.vis--geovis {
  position: absolute;
  left: 0;
  top: 0;
}
.vis--geovis .vis__map__bg {
  stroke: none;
  fill: #fff;
}
.vis--geovis .vis__map__label {
  pointer-events: none;
  text-anchor: middle;
  font-size: 12px;
  fill: #000;
}
.vis--geovis .vis__map__lands__land {
  fill: #fcfcfc;
  stroke: #eee;
  stroke-width: 2;
}
.vis--geovis .vis__map__lands__land--featured {
  stroke: #dedede;
}
.vis--geovis .vis__map__lads__lad {
  cursor: pointer;
}
.vis--geovis .vis__map__lads__lad circle {
  stroke: none;
  fill: rgba(200,200,200,0.6);
}
.vis--geovis .vis__map__lads__lad:hover circle {
  stroke-width: 2;
  stroke: rgba(150,150,150,0.3);
}
.vis--geovis .vis__map__lads__lad.selected circle {
  stroke-width: 2;
  stroke: rgba(100,100,100,0.5);
}
.vis--geovis .vis__map__lads__lad.highlighted circle {
  stroke-width: 1;
  stroke: rgba(150,150,150,0.3);
}
.vis--geovis .vis__map__lads__lad.blured circle {
  fill: rgba(220,220,220,0.3);
}
.vis--geovis .vis__map__lads__lad.inactive {
  visibility: hidden;
}
.vis--geovis .vis__map__border {
  stroke: #fff;
  stroke-width: 2;
  fill: none;
}
.vis--geovis .vis__map__connections__line__point {
  pointer-events: none;
}
.vis--geovis .vis__map__connections__line__bg {
  stroke: rgba(255,255,255,0);
  stroke-width: 5;
  fill: none;
}
.vis--geovis .vis__map__connections__line__line {
  stroke-width: 1;
  fill: none;
}
.vis--geovis .vis__map__connections__line:hover .vis__map__connections__line__line {
  opacity: 1;
}
.vis--geovis .vis__map__connections__line.blured {
  visibility: hidden;
}
.vis--geovis .vis__divider {
  stroke: #999;
}
.vis--geovis .vis__controls__button {
  cursor: pointer;
}
.vis--geovis .vis__controls__button__bg {
  stroke: #ddd;
  fill: #eee;
}
.vis--geovis .vis__controls__button text {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 12px;
  fill: #000;
}
.vis--geovis .vis__hints {
  pointer-events: none;
}
.vis--geovis .vis__hints text {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 12px;
}
.vis--geovis .vis__hints rect {
  stroke: #999;
  fill: rgba(255,255,255,0.7);
}
.title {
  position: fixed;
  left: 5px;
  top: 5px;
  margin: 0;
  font-size: 16px;
  z-index: 10;
}
