.m-canvas {
	width: 800px;
	height: 800px;
	position: relative;
	float: left;
}

.m-key {
	position: relative;
	float: left;
	margin-top: 20px;
}

.tick text {
	fill: silver;
}

.tick.selected text {
	font-weight: bold;
	fill: black;
}

.m-key .val {
	border-left: 20px solid white;
	font-size: 10px;
}